.main{

  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  display:flex;
  
  }
  .edit{
  
    background-color: rgb(16, 86, 192);
    width: 25%;
    height: 100vh;
    /* display: flex; */
    
    }
    .preview{
  
      background-color: rgb(34, 136, 196);
      width: 75%;
      height: 100vh;
      /* display: flex; */
      
      }