.main{

  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  display:flex;
  
  }
  .edit{
  
    background-color: rgb(16, 86, 192);
    width: 25%;
    height: 100vh;
    /* display: flex; */
    
    }
    .preview{
  
      background-color: rgb(254, 255, 255);
      width: 75%;
      height: 100vh;
      /* display: flex; */
      justify-content: center;
      /* align-items: center; */
      
      
      }
      .preview1{
  
        background-color: rgb(23, 158, 158);
        width: 75%;
        height: 100vh;
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
       
        
        }
      .preview>div,.preview>div>h1,.preview>div>h5{
        padding: 0px;
        margin: 0px;
        /* display: flex; */
       text-align: center;
        background-color: rgb(227, 233, 225);
     
        width: 100%;
      }